a {
text-decoration:none;
}
.article:hover{
    color:deepskyblue;
}
html{
    scroll-behavior: smooth;
    
}
img{
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

img:hover{
    transform: scale(0.9);
}